absl-py==0.1.6
enum34==1.1.6
future==0.16.0
futures==3.1.1
mock==2.0.0
mpyq==0.2.5
numpy==1.13.3
pbr==3.1.1
portpicker==1.2.0
protobuf==3.5.0.post1
pygame==1.9.3
PySC2==1.2
s2clientprotocol==4.1.1.60321.0
six==1.11.0
websocket-client==0.44.0
